.form {
    display: flex;
    justify-content: center;

    gap: 8px;
    margin-bottom: 32px;
}

.input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    max-height: 40px;
    display: block;
    outline: none;
    padding-left: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.input:hover {
    border-color: #000;
}

.input:focus,
.input:active {
    border-color: #4e75ff;
    color: #000;
}

.button {
    border-radius: 8px;
    border-color: transparent;
    padding: 8px 16px;
    min-width: 75px;
    height: 40px;
    background: #4e75ff;
    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
}

.button:hover {
    background: #6c8cff;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus,
.button:disabled:active {
    background: #cfcfcf;
    color: #989898;
    cursor: not-allowed;
}


.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #FF3D00;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

.is-hidden {
    display: none;
}

.gallery {
    padding: 24px 156px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    transition: transform 250ms ease-in;

}

.gallery-item:hover {
    transform: scale(1.05);

}

.info-list {
    display: flex;
    justify-content: space-between;
}

.info-item {
    display: flex;
    flex-direction: column;
}